\#*
*~
.#*
.DS_Store
.idea
.project
.sass-cache
coverage
Gemfile.lock
tmp
nbproject
pkg
*.swp
spec/dummy


# editors stuff
*.swp
*.swo
*.sublime-workspace
*.idea
.idea/**
.project
.idea


.ruby-gemset
.ruby-version

*.gem